<?xml version="1.0" encoding="UTF-8" ?>
<module>
	<name>zibalpayment</name>
	<displayName><![CDATA[پرداخت آنلاین زیبال]]></displayName>
	<version><![CDATA[1.0]]></version>
	<description><![CDATA[ماژول درگاه زیبال]]></description>
	<author><![CDATA[zibal.ir]]></author>
	<tab><![CDATA[payments_gateways]]></tab>
	<confirmUninstall>شما از حذف این ماژول مطمئن هستید ؟</confirmUninstall>
	<is_configurable>1</is_configurable>
	<need_instance>1</need_instance>
	<limited_countries></limited_countries>
</module>